nav{
    margin: 10px;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: inline;
    margin: 0;
    padding: 0;
   /*  font-size: 20px; */
}

ul :hover{
    color: rgb(198, 153, 114);
    
}


ul li{
    display: inline-block;
    position: relative;
}

ul li {
    position: relative;
    display: inline-block;

}

ul li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background: rgb(198, 153, 114);
    transition: width .3s, left .3s;
    transform: translateX(-50%);
}

ul li:hover::after {
    width: 100%;
    left: 50%;
}

ul li:hover ul{
    display: block;
    background: white;
    border-bottom: 1px solid black;
}

ul li ul{
    position: absolute;
    width: 200px;
    display: none;
}

ul li ul li{
display: block;
   border-top: 1px solid black;
   
}

ul li ul li a{
    display: block;
}

ul li ul li a:hover{
    color: rgb(198, 153, 114);
}

nav a{
    text-decoration: none;
    color: black;
    padding: 18px;
    display: inline-block;
}

/* nav {
    border-bottom: 2px solid rgb(150, 101, 101);Adjust as needed
} */

nav ul ul {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

nav li:hover > ul {
    opacity: 1;
    visibility: visible;
}


button {
    position: fixed; /* Add this line */
    top: 15px;
    right: 10px;
    height: 40px;
    width: 80px;
    line-height: 40px;
    border-radius: 40px;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(88, 87, 87, 0.395);
    font-size:12px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding-bottom: 0;
    color: black;
}

button a{
    text-decoration: none;
    color: black;
    display: inline-block;
}

button:hover{
    background-color: rgb(148, 208, 245);
    color: white;
}

header{
    background-color: rgb(198, 153, 114);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    font-family: 'poppins', sans-serif;
}


body{
    margin: 0;
}

.cursor{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(125, 85, 85);
    background-color: rgba(124, 90, 90, 0.526);
    border-radius: 50%;
    position: absolute;
    transition-duration:200ms ;
    transition-timing-function: ease-out;
}


.search-bar {
    width: 200px; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 8px; 
    /* margin-left: 300px; */
}



.search-container {
    margin-left: 1200px;
    display: flex;
    justify-content: center;
}


