.nav{
    margin: 10px;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: nav-load 300ms ease-in; /*slower at the beginning*/
}

@keyframes nav-load{
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0);
    }
}

ul{
    display: inline;
    margin: 0;
    padding: 0;
   /*  font-size: 20px; */
   z-index: 2;
}

ul :hover{
    color: rgb(198, 153, 114);
    
}


/* ul li{
    display: inline-block;
    position: relative;
} */

ul li {
    position: relative;
    display: inline-block;
   /*  animation: nav-load 350ms ease-in; */
    z-index: 2;
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: 350ms;
    animation-fill-mode: forwards;
    transform: scale(0);
}
 
ul li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background: rgb(198, 153, 114);
    transition: width .3s, left .3s;
    transform: translateX(-50%);
}

ul li:hover::after {
    width: 100%;
    left: 50%;
}

ul li:hover ul{
    display: block;
    background: white;
    border-bottom: 1px solid black;
}

ul li ul{
    position: absolute;
    width: 200px;
    display: none;
}

ul li ul li{
display: block;
   border-bottom: 1px solid black;
   
}

ul li ul li a{
    display: block;
}

ul li ul li a:hover{
    color: rgb(198, 153, 114);
}

nav a{
    text-decoration: none;
    color: black;
    padding: 18px;
    display: inline-block;
    /* position: absolute; */
}

/* nav {
    border-bottom: 2px solid rgb(150, 101, 101);Adjust as needed
} */

nav ul ul {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

nav li:hover > ul {
    opacity: 1;
    visibility: visible;
}

.wlcm{
    position: absolute;
    top: 26px;
    left: 10px;
    width: 10px;
   /*  animation: nav-load 300ms ease-in; */
   animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: 350ms;
    animation-fill-mode: forwards;
    transform: scale(0);
}


.button {
    position: fixed; /* Add this line */
    top: 15px;
    right: 20px;
    height: 40px;
    width: 80px;
    line-height: 40px;
    border-radius: 40px;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(88, 87, 87, 0.395);
    font-size:12px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding-bottom: 0;
    color: black;
    animation: nav-load 350ms ease-in;
    z-index: 2;
}

.button a{
    text-decoration: none;
    color: black;
    display: inline-block;
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: 350ms;
    animation-fill-mode: forwards;
    transform: scale(0);
}

@keyframes nav-link-load{
    0%{
    transform: scale(0);
    }

    90%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);/*100%*/
    }
}

.button:hover{
    background-color: black;
    color: white;
}

.button:hover a{
    color: white;
}

header{
    background-color: rgb(255,237,225,255);
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 50px;
    font-family: 'poppins', sans-serif;
    animation: nav-load 300ms ease-in;
    
}


body{
    margin: 0;
    --nav-link-load-time:500ms;
   /*  --load-delay: calc(var(--nav-link-load-time)+300ms);   */
}

.cursor{
    width: 15px;
    height: 15px; 
    background-color: rgba(124, 90, 90, 0.526);
    border-radius: 50%;
    position: absolute;
    transition-duration:200ms ;
    transition-timing-function: ease-out;
    z-index: 5;
}


/* .search-bar {
    width: 300px; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 8px; 
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: 350ms;
    animation-fill-mode: forwards;
    transform: scale(0);
} */

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-container {
  /*   margin-left: 1200px; */
   display: flex;
  /*  justify-content: center; */
   align-items: center;
   width: 350px;
   height: 10px;
   border-radius: 30px;
   background-color: rgba(214, 176, 182, 0.771) ;
   padding: 20px;
   margin: 10px;
   animation-name: nav-link-load;
   animation-duration: var(--nav-link-load-time);
   animation-timing-function: ease-in;
   animation-delay: 350ms;
   animation-fill-mode: forwards;
   transform: scale(0); 
}

.search-container > i{
     font-size: 20px;
     color: #777;
}

.search-container > input{
    flex: 1; /*same width as whole box*/
    border: none;
    font-size: 18px;
    height: 20px;
    background-color: transparent;
    outline: none;
}

@keyframes load-delay{
    0%{
        transform: translateY(-30%);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


.image {
    width: 4%;
    height: 8%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    margin-left: 20px;
    box-shadow: 0px 0px 10px black;
    border-radius: 25%;
    z-index: 3;
    transition: transform 0.4s ease-in-out; 
    animation: nav-load 300ms ease-in;
}

.image:hover {
    transform: scale(1.2);
}

.par{
    font-size: 30px;
    animation: load-delay 300ms ease-in 600ms;
    animation-fill-mode: forwards;
    transform: translateY(-30%);
    opacity: 0;
    font-family: 'Times New Roman', Times, serif;
    /* animation-duration: 900ms;
    animation-timing-function: ease-in;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
   animation-name: nav-par-load; ;
   transform: translateX(-1000%); */
}

@keyframes nav-par-load{
    0%{
    transform: translateX(-1000%);
    }

    90%{
        transform: translateX(50%);
    }

    100%{
        transform: translateX(0);
    }
}


.sohati{
    margin: 10px;
    width: 98.5%;
    cursor: pointer;
    /* animation-name: nav-link-load;
   animation-duration: var(--nav-link-load-time);
   animation-timing-function: ease-in;
   animation-delay: 350ms;
   animation-fill-mode: forwards;
   transform: scale(0);  */
   z-index: 0;
}

.text{
    margin: 20px;
   display: flex;
   align-items: center;
}

.text hr{
    flex-grow: 1;
    border: 1px solid #777;
}

.text h1{
    margin: 0 40px;
    color: rgb(198, 153, 114); 
}

.avene{
    width: 75%;
    height: 75%;
}
  
  .addtocart{
    margin-left: 40px;
    display:block;
    padding:0.5em 1em 0.5em 1em;
    border-radius:100px;
    border:none;
    font-size:2em;
    position:relative;
    background:rgb(255,237,225,255);
    cursor:pointer;
    height:2em;
    width:10em;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
   margin-bottom: 40px;
  }
  .addtocart:hover{
    transform:scale(1.1);
  }
  .pretext{
    color:#fff;
   background:rgba(214, 176, 182, 0.771);
    position:absolute;
    top:0;
    left:0; 
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Quicksand', sans-serif;
  }
  i{
    margin-right:10px;
  }
  .done{
  /*   background:#be2edd; */
    position:absolute;
    width:100%;
    top:0;
    left:0;
    transition:transform 0.3s ease;
  
    transform:translate(-110%) skew(-40deg);
  }
  
  .avene-logo{
   width:20%;
   /* display: flex;
   align-items: center;
   justify-content: center; */
  }

  .logo-avene{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container {
    width: 100%;
    height: 90vh;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   /*   background-color: rgb(255,237,225,255);  */
}

.h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.description {
    text-align: center;
    width: 43%;
}


.reviewSection {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.reviewItem {
    width: 300px;
    padding: 10px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(223, 200, 179, 0.818);
    box-shadow: #777 0px 0px 5px 0px;
    border: 1px solid rgba(223, 200, 179, 0.818);
    transition: all .2s linear;
}

.reviewItem:hover {
    border-color: rgb(198, 153, 114);
    transform: scale(1.01);
    background-color: rgb(255,237,225,255);
    box-shadow: 0 0px 5px 0px black;
}

.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style: none;
}

.top ul li {
    padding-left: 4px;
}

article p {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 2rem;
    font-family: system-ui;
}


@media screen and (max-width:700px) {
    .container {
        height: auto;
    }

    .description {
        width: 90%;
    }
}

@media screen and (max-width:375px) {
    .reviewSection {
        padding: 0;
    }

    .reviewItem {
        width: 100%;
    }

    .clientImage {
        margin-bottom: 0.6rem;
    }

    .top {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

footer{
    margin-top: 50px;
    background-color:rgba(214, 176, 182, 0.771);
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'poppins', sans-serif;
    animation: nav-load 300ms ease-in;
    padding-bottom: 20px;
}

.new{
    display: flex;
    /* justify-content: center;*/
    align-items: center; 
    margin: 20px;
    border-bottom: 1px solid #777;
}

.search {
    /*   margin-left: 1200px; */
     display: flex;
    /*  justify-content: center; */
     align-items: center;
     width: 500px;
     height: 25px;
     border: none;
     background-color: transparent ;
     outline: none;
     padding: 5px;
     margin: 20px;
     border-bottom: 1px solid #777;
     animation-name: nav-link-load;
     animation-duration: var(--nav-link-load-time);
     animation-timing-function: ease-in;
     animation-delay: 350ms;
     animation-fill-mode: forwards;
     transform: scale(0); 
  }
  
  .search > i{
       font-size: 20px;
       color: #777;
  }
  
  .search > input{
      flex: 1; /*same width as whole box*/
      border: none;
      font-size: 18px;
      height: 20px;
      background-color: transparent;
      outline: none;
  }
  

  .bu {
   
    line-height: 40px;
   
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(88, 87, 87, 0.395);
    font-size:12px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding-bottom: 0;
    color: black;
    animation: nav-load 350ms ease-in;
}

.bu a{
    text-decoration: none;
    color: black;
    display: inline-block;
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: 350ms;
    animation-fill-mode: forwards;
    transform: scale(0);
}

.bu a:hover{
    color:white;
}
.bu:hover{
    background-color: black;
    color: white;
}

.ta td{
    padding: 0 40px;
}

.ta {
    cursor: pointer;
}